In [ ]:


from plotly.offline import plot
import plotly.graph_objs as go

fig = go.Figure()
scatter = go.Scatter(x=[0,1,2,3], y=[0,1,2,3],
                     mode='lines', name='test',
                     opacity=0.8, marker_color='green')
fig.add_trace(scatter)
plt_div = plot(fig, output_type='div')

In [ ]:
from stockmanager import Ticker

In [ ]:
aapl = Ticker('AAPL')
aapl.get_price()

In [ ]:
p =aapl.prices.Close.to_list()
p = [float(format(i, '.2f')) for i in p]
p

In [ ]:
ts = aapl.prices.index.to_list()
ts = [s.strftime("%Y-%m-%d, %H:%M:%S") for s in ts]

In [ ]:
ts

In [2]:
from stockmanager import Portfolio

mp = Portfolio()

mp.add('AAPL', 2000)
mp.add("MSFT", 3000)
mp.add('ZM', 500)

In [3]:
mp.summary

,Symbol,Name,Exchange,Holdings,Price at Registration,Currency,Date
0,AAPL,Apple Inc.,NMS,2000,318.89,USD,26.05.2020 00:29
1,MSFT,Microsoft Corporation,NMS,3000,183.51,USD,26.05.2020 00:29
2,ZM,"Zoom Video Communications, Inc.",NMS,500,171.06,USD,26.05.2020 00:29

In [4]:
mp.save()

In [8]:
mp2 = Portfolio()
mp2.load(summary_path="../dashboard/data/portfolio.csv",
        record_path="../dashboard/data/records.csv")

In [9]:
mp2.summary

,Symbol,Name,Exchange,Holdings,Price at Registration,Currency,Date
0,AAPL,Apple Inc.,NMS,2000,318.89,USD,26.05.2020 00:29
1,MSFT,Microsoft Corporation,NMS,3000,183.51,USD,26.05.2020 00:29
2,ZM,"Zoom Video Communications, Inc.",NMS,500,171.06,USD,26.05.2020 00:29